<?xml version="1.0"?>


<robot xmlns:xacro="http://ros.org/wiki/xacro" name="UR3e_RGB_CONVEYOR" >


   <!-- robot name parameter -->
   <xacro:arg name="name" default="ur"/>
   <!-- import main macro -->
   <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

   <!-- parameters -->
   <xacro:arg name="prefix" default="" />
   <xacro:arg name="joint_limit_params" default=""/>
   <xacro:arg name="kinematics_params" default=""/>
   <xacro:arg name="physical_params" default=""/>
   <xacro:arg name="visual_params" default=""/>
   <xacro:arg name="transmission_hw_interface" default=""/>
   <xacro:arg name="safety_limits" default="false"/>
   <xacro:arg name="safety_pos_margin" default="0.15"/>
   <xacro:arg name="safety_k_position" default="20"/>
   <!-- ros2_control related parameters -->
   <xacro:arg name="use_fake_hardware" default="false" />
   <xacro:arg name="fake_sensor_commands" default="false" />
   <xacro:arg name="controllers_file" default="" />

   <!-- arm -->
   <xacro:ur_robot
     prefix="$(arg prefix)"
     joint_limits_parameters_file="$(arg joint_limit_params)"
     kinematics_parameters_file="$(arg kinematics_params)"
     physical_parameters_file="$(arg physical_params)"
     visual_parameters_file="$(arg visual_params)"
     transmission_hw_interface="$(arg transmission_hw_interface)"
     safety_limits="$(arg safety_limits)"
     safety_pos_margin="$(arg safety_pos_margin)"
     safety_k_position="$(arg safety_k_position)"
     use_fake_hardware="$(arg use_fake_hardware)"
     fake_sensor_commands="$(arg fake_sensor_commands)"/>
<!-- TODO Uncomment when gazebo changes merged     controllers_file="$(arg controllers_file)" /-->


   <xacro:include filename="$(find conveyor_belt)/model/conveyor_belt/conveyor.urdf"/>
   <xacro:include filename="$(find onrobot_sg)/models/onrobot_sg_b/sg_b.urdf"/>

  <link name="world" />
  
  <link name="support_pillar">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="10.0"/>
        <inertia ixx="0.38299" ixy="0" ixz="0" iyy="31.09613" iyz="0" izz="31.47895"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.1778 0.1778 1.24458"/>
        </geometry>
        <material name="5,5,5"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.1778 0.1778 1.24458"/>
        </geometry>
      </collision>
  </link>
  
  <!-- fix the ur robot in place -->
  <joint name="world_to_pillar" type="fixed">
    <origin xyz="-0.5 0 0.62229" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="support_pillar"/>
  </joint>

  <joint name="pillar_to_base" type="fixed">
    <origin xyz="0 0 0.62229" rpy="0 0 0"/>
    <parent link="support_pillar"/>
    <child link="$(arg prefix)base_link"/>
  </joint>
      
  <joint name="ur_to_gripper" type="fixed">
    <origin xyz="0 0 0.0" rpy="0 0 0"/>
    <parent link="$(arg prefix)tool0"/>
    <child link="quick_change_robot_side"/>
  </joint>

  <!-- fix the conveyor belt in place -->
  
    <joint name="world_to_conveyor_base" type="fixed">
      <origin xyz="0 0.33893 1.24458" rpy="0 0 0"/>
      <parent link="world"/>
      <child link="conveyor_base"/>
    </joint>


</robot>
